gnupg/config-*/.gnupg/*
!gnupg/config-*/.gnupg/gpg-agent.conf

ncmpcpp/config*/.config/ncmpcpp/*
!ncmpcpp/config*/.config/ncmpcpp/config

mopidy/config-*/.config/mopidy/jellyfin.conf

mpd/config-*/.config/mpd/*
!mpd/config-*/.config/mpd/mpd.conf

tmux/config/.tmux/plugins/*
!tmux/config/.tmux/plugins/tpm/
