#
# ~/.inputrc
#

# Config for readline, a core library powering bash
# See readline(3) and `info rluserman' for more information.

# Enable colorized `bash_completion` for files and folders (bash 4.3+)
set colored-stats on
set colored-completion-prefix on
